<?xml version="2.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5" >

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- include the ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />
  
  <!-- include tool -->
  <xacro:include filename="$(find rl_gazebo_sim)/parts_descriptions/screw_tool/screw_tool.urdf.xacro" />

  <!-- create the arm macro-->
  <xacro:ur5_robot prefix="" joint_limited="true"/>

  <!-- create the tool macro-->
  <xacro:my_tool prefix=""/>

  <!--dont reduce the fixed joint -->
    <gazebo reference="ee_fixed_joint">
      <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>

  <!-- add screw_tool to the robot -->
    <joint name="ur_screw_tool_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 ${pi/2} 0" />
      <parent link="ee_link"/>
      <child link="ft_sensor"/>
    </joint>

  <!-- Create a world link and fix it all to that -->
  <link name="world" />

  <!-- fix the arm in the world -->
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>  

    