<?xml version="2.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5" >

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />
  
  <!-- tool -->
  <xacro:include filename="$(find rl_gazebo_sim)/screw_tool/screw_tool.urdf.xacro" />


  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="true"/>

  <!-- tool -->
  <xacro:my_tool parrent_link="wrist_3_link" origin_xyz="0 0.0823 0" origin_rpy="${pi} ${pi/4} 0"/>


  <link name="world" />

  <!-- fix the arm in the world -->
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>  

