<robot name="screw_tool">
  <link name="screw_tool">
    <inertial>
      <origin
        xyz="0 1.10070897113899E-18 0.0125"
        rpy="0 0 0" />
      <mass
        value="0.003112" />
      <inertia
        ixx="1.92911162272793E-07"
        ixy="-2.89738441999895E-56"
        ixz="4.73194412384896E-40"
        iyy="1.92911162272793E-07"
        iyz="-8.0369021048573E-24"
        izz="6.1654255434581E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="$(find rl_gazebo_sim)/screw_tool/meshes/screw_tool.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="$(find rl_gazebo_sim)/screw_tool/meshes/screw_tool.STL" />
      </geometry>
    </collision>
  </link>
</robot>