<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  
  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- send robot urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find rl_gazebo_sim)/ur5_robot_w_tool/ur5_robot_w_tool.urdf.xacro'" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.1" respawn="false" output="screen" />

  <!-- load the joint_state_controller to the parameter server-->
  <rosparam file="$(find rl_gazebo_sim)/controller/ur5_controller.yaml" command="load"/>
  <!-- start_controllers -->
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" 
        args="joint_state_controller arm_controller screw_controller" respawn="false" />
</launch>
