<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5" >

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />
  
  <!-- tool -->
  <xacro:include filename="$(find rl_gazebo_sim)/screw_tool/urdf/screw_tool.urdf" />


  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="false"/>
  <link name="world" />

  <!-- fix the arm in the world -->
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- tool -->
  <!-- give it a name and type -->
  <!-- add the tool to the end-effector -->
  <joint name="screw_tool_joint" type="revolute">
    <parent link="tool0" />
    <child link="screw_tool" /> 
    <origin xyz="0 0 0.1" rpy="0 0 0" />
    <limit velocity="6.5" effort="1000" lower="0" upper="0" />  <!--This is a bugfix. Using fixed type joint causes problems with FT-sensor.-->
  </joint> 


  <!-- Activate the feedback 
  <gazebo reference="wrist_3_link-tool0_fixed_joint">
    <provideFeedback>true</provideFeedback>
  </gazebo>-->
  <!-- FT sensor 
  <gazebo>    
    <plugin name="FTsensor_controller"    filename="libgazebo_ros_ft_sensor.so">
       <updateRate>100.0</updateRate>
       <topicName>FTsensor_topic</topicName>
       <gaussianNoise>0.0</gaussianNoise>
       <jointName>wrist_3_link-tool0_fixed_joint</jointName>
    </plugin>    
  </gazebo>-->
  

</robot>